# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Debug
Release
ipch
*.suo
*.sdf
*.aps
/download/MarkdownEditor.exe
/download/MarkdownEditor.exe
src/.vs/MarkdownEditor/v15/Browse.VC.db
download/MarkdownEditor.iobj
download/MarkdownEditor.ipdb
src/.vs/MarkdownEditor/v15/Browse.VC.opendb
